<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>Film Buff</title>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script type="text/javascript" src="/js/script.js"></script>
<!-- CSS (load bootstrap from a CDN) -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.min.css">
<style>
    body { padding-top:50px; }
    .logo { width:2REM; }
    .navbar-brand { padding-left:10px; }
    .search-bar { border:none; width:70%; }
    .text-center { font-size: 0.8REM; }
    /* input[name="submit"]{ padding-left: 5px; } */
</style>