<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <img class="logo" src="/assets/movie-reel.svg" alt="film buff logo">  
  <a class="navbar-brand" href="/">Film Buff</a>
    <ul class="navbar-nav mr-auto">
      <!-- <li class="nav-item">
        <a class="nav-link" href="/">Home</a>
      </li> -->
    </ul>
  </nav>

  